body { 
    height: 100%; 
    margin: 0 auto; 
    background-color: lightblue;
    /* background-image: url("https://i.pinimg.com/564x/1a/ea/0c/1aea0c4208e504b5e1104b939499fe1a.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
h1 , p{
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}


.note{
    width: 50px;
    height: auto;
}


.container {
    display: flex;
    margin: auto;
    border: 1px solid red;
    width: 700px;
    max-height: max-content;
}

.lyrics {
    height: 250px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Abril Fatface', cursive;
    color: black;
    font-size: medium;
    /* font-family: 'Paytone One', sans-serif; */
}
.cursor {
    background-color: grey;
}

.done {
    color: white;

}
/* #text{
    display:flex;
    flex-direction: column;
    font-family: 'Paytone One', sans-serif;
    color: green;
    text-align: center;
} */
.progress {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 700px;
    position: relative;
    border: 1px solid green;
    justify-content: space-between;
}
/* add styling to button maybe green w/ white text */
.start {
    height: 20px;
    width: 10%;
    position: relative;
}

.timer {
    width: 90%;
    position: relative;
    background-color: cadetblue;
    direction: ltr;
}

button{
    background-color: green; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: rgb(85, 241, 85); /* Green */
    color: white;
}
.level {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    margin: auto;
    width: 700px;

}

.select {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: grey;
    cursor: pointer;
}